<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="dfds-devex-shared" value="https://pkgs.dev.azure.com/dfds/_packaging/dfds-devex-shared/nuget/v3/index.json" />
  </packageSources>
  <!--packageSourceCredentials>
    <dfds-devex-shared>
      <add key="Username" value="PAT" />
      <add key="ClearTextPassword" value="{INSERT_PAT_AND_UNCOMMENT_IF_YOU_NEED_TO_RUN_DOTNET_CLI}" />
    </dfds-devex-shared>
  </packageSourceCredentials-->
</configuration>